.dine-back {
    position: relative;
    background-color: #f7f7f7;
    padding: 60px 0px;
    width: 100%;
}

.content-area-dine {
    padding: 40px 80px;
    position: relative;
    width: 100%;
}

.dine-header h1 {
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.dine-description {
    padding: 10px 60px;
}

.dine-description p {
    color: #000;
    font-weight: 600;
    color: rgb(20, 20, 20);

    font-size: 17px;
}